@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div style="color:#2c3e50" class="container">
    <div class="jumbotron">
        <h1><i class="fas fa-paw"></i> Fera Store</h1>
        <p>Purrrfect toys for your pets</p>
    </div>

    <div>
        <h1>
            Dobrodošli u Fera trgovinu!
        </h1>
        <h3>
            U ponudi imamo najnovije i najkvalitetnije igračke za vaše drage ljubimce.
        </h3>
    </div>
    <hr />
    <div style="align-items:center">
        <img src="https://ae01.alicdn.com/kf/HTB1SwiFrYorBKNjSZFjq6A_SpXaz/4pcs-set-Cats-Playing-Balls-Tinkle-Bell-Ball-Pet-Toy-Plastic-Dog-Cat-Playing-Ball-Pets.jpg" width="500" height="500">
    </div>
</div>